.mainContainer {
    width: 100%;
}

.homeImage {
    width: 100vw;
    margin-bottom: -0.25rem;
}

.firstSection {
    width: 100%;
    position: relative;
    color: var(--branco);
}

.imagemFundo {
    width: 100vw;
    margin-bottom: -0.25rem;
}

.boxSobre {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-16.5%, -50%);
    gap: 2rem;
}

h1 {
    font-size: 30px;
}

p, span {
    line-height: 30px;
    font-size: 15px;
}

.textServicos {
    padding-bottom: 3rem;
}

.secondSection {
    display: flex;
    padding: 3rem 12.5%;
    gap: 10%;
    background-color: var(--branco);
}

.servicosDivOne,.servicosDivTwo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.servicosDivOne {
    justify-content: space-between;
    color: var(--azul);
}

.servicosDivTwo {
    padding-top: 2.5rem;
    justify-content: space-between;
}

.servicosTags {
    background-color: var(--azul-claro);
    color: var(--branco);
    width: 100%;
    padding: 0.5rem 1.5rem;
}

.button{
    background-color: var(--azul);
    padding: 1rem 3rem;
    color: var(--branco);
    width: fit-content;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.button:active {
    transform: scale(0.95);
    transition: 0.2s;
    background-color: var(--azul-leve);
}


/*Texto que aparece antes do usuário preencher os dados no formulário*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--letra-input);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--letra-input);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--letra-input);
}

/*Borda do input do formulário ao ser clicado e em preenchimento*/
input:focus-visible, textarea:focus-visible {
    outline: 1px solid var(--azul-leve);
}