.footerBox, .footerDiv,.footerSubDiv,.footerDivTwo {
    display: flex;
}

.footerBox {
    flex-direction: column;
    padding: 3rem 12.5% 0rem 12.5%;
    color: var(--branco);
    background-color: var(--azul);
    gap: 4rem;
}

.footerTitle, .footerSpan, .footerSpanTwo {
    text-align: center;
}

.footerDiv {
    gap: 2rem;
}

.footerSubDiv {
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.footerSubDivText {
    width: 80%;
}

.footerDivTwo {
    flex-direction: column;
}

.footerSpanTwo {
    background-color: var(--azul-claro);
}

.footerLink {
    text-decoration: none;
    color: var(--branco);
    word-wrap: break-word;
}

@media screen and (max-width: 700px) {
    .footerBox {
        padding: 3rem 8.5% 0rem 8.5%;
        color: var(--branco);
        gap: 2rem;
    }
    .footerDiv {
        width: 100%;
        flex-direction: column;
    }
    .footerSubDiv {
        width: 100%;
        gap: 1rem;
    }

    .footerSubDivTitle {
        font-size: 16px;
    }

    .footerSubDivText {
        width: 100%;
    }
  }