.headerContainer {
    padding: 1rem 12.5%;
    list-style: none;
    justify-content: space-between;
    color: var(--azul);
    background-color: var(--branco);
}

.headerContainer, .leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.logotipo {
    display: block;
}

.logotipoMobile {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.headerLink{
    text-decoration: none;
    color: var(--azul);
}

@media screen and (max-width: 700px) {
    .headerContainer {
        padding: 1rem 5.5%;
    }
    .logotipo {
        display: none;
    }
    
    .logotipoMobile {
        display: block;
    }
    .rioTag {
        display: none;
    }
    .leftContainer{
        justify-content:flex-start;
        width: 100%;
    }
    .linksContainer{
        width: 100%;
        justify-content:space-around;
    }
}