.headerContainer {
    padding: 1rem 12.5%;
    list-style: none;
    justify-content: space-between;
    color: var(--azul);
    background-color: var(--branco);
}

.headerContainer, .leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}